<a tabindex="0" 
data-toggle="popover" 
data-trigger="focus"
data-html="true" 
title="Event Rules" 
data-content="1.  Events will start promptly at the time they are scheduled and will not be delayed if player(s) are late or en route.<br/>
<br/>
2.  Plan ahead so you can show up at least 30 minutes prior to the event to allow enough time to check in without forcing the admins to rush.<br />
<br/>
3.  DO NOT try to breed the event dinos while waiting.<br />
<br/>
4.  DO NOT try to run off or even move the dinos until instructed.<br />
<br/>
5.  No punching while in line.<br />
<br/>
6.  Always listen to the admin and follow instructions.<br />
<br/>
7.  You must sign-up prior to the event to get element.  We have timestamps for when you've signed-up, so don't try to sign-up late.<br />
<br/>
8.  After each event, if an admin is available, they will make element rounds to all of the servers.  Please do not harass the admins about when they will come to your server.  Check #announcements to track admin round progress.  Do not fill out a ticket asking for element if you plan to get element during these rounds.<br />
<br/>
9.  If you missed the handouts, please wait until Sunday afternoon to submit a ticket to receive your element.<br />
<br/>
10.  Remember, you are only allowed to attend one event per weekend.<br />
<br/>
11.  If an admin appoints a fellow player to be an 'admin's helper', they are to be treated as an admin.">
<i class="fas fa-info-circle"></i>
</a>